- submit_name = comment.new_record? ? t('view.new') : t('view.update')
- submit_type = comment.new_record? ? 'create_comment' : 'update_comment'
- id = comment.id.to_i

= text_area :content, comment.content, class: 'form-control content', placeholder: t('helpers.comments_placeholder'), id: "content_#{ id }"

.btn.btn-success.float-right class="#{ submit_type }" id="comment_submit_#{ id }"
  = submit_name

div.btn.preview-btn = t('activerecord.markdown_preview')
