form {
  padding-right: 20px;
  margin-bottom: 60px;
}

table.note-form {
  font-size: 15px;
  width: 1250px;
  margin-top: 20px;
  margin-bottom: 10px;

  th {
    width: 130px;
    text-align: left;
    border: 1px solid #A4A4A4;
    background-color: #dedede;
    padding: 5px;
  }

  td {
    border: 1px solid #A4A4A4;
    padding: 5px;
  }

  .title-form {
    width: 100%;
  }

  .content-container {
    display: flex;
  }

  .content-form {
    width: 549px;
    height: 500px;
    resize: vertical;
    margin-right: 8px;
  }

  #preview-area {
    overflow-x: scroll;
    word-break: break-all;
    width: 549px;
    height: 500px;
    padding: 4px;
    border: 1px solid #A4A4A4;
  }

  ul.tagit {
    padding: 4px 4px;
    margin-bottom: 0px;
    z-index: 0.5;
  }
}

div.note-description_text {
  max-width: 560px;
  float: left;
  margin-left: 40px;
}

span.note-description_button {
  font-size: 0.5em;
  margin-left: 12px;
  cursor: pointer;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 97;
  background: #000;
  opacity: .7;
}

#window {
  display: none;
  position: fixed;
  overflow: scroll;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 700px;
  z-index: 98;
  background: #fff;
}

#inner {
  padding: 24px;
  width: 100%;
  height: 200px;
}
