div.note-content-markdown {
  width: 1000px;
  margin-top: 20px;
  display: flex;

  div.content { display: inline-block; }
}

// お気に入り登録ボタン
.add-favorite-note-btn {
  display: inline-block;
  color: #FFFFFF;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #FAAC58;
  width: 120px;
  cursor: pointer
}

.add-favorite-note-btn:hover {
  color: #FFF;
  text-decoration: none;
  background: #FE9A2E;
}

// お気に入り解除ボタン
.release-favorite-note-btn {
  display: inline-block;
  color: #FFFFFF;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #BDBDBD;
  width: 120px;
  cursor: pointer
}

.release-favorite-note-btn:hover {
  color: #FFF;
  text-decoration: none;
  background: #6E6E6E;
}

div.comment-count {
  display: inline-block;
  font-size: 17px;
  margin-left: 10px;

  a {
    color: #000;
    text-decoration: none;
  }

  i {
    margin-right: 3px;
  }
}

div.editor-info {
  display: inline-block;
  margin-left: 24px;
  .editor-name {
    margin-left: 9px;
  }
  i {
    margin-right: 3px;
  }
  .edit-time {
    margin-left: 9px;
  }
}

div.tag-list {
  display: inline-block;
  margin-left: 24px;
  
  .tag {
    margin-left: 9px;
  }
}

#toc {
  top: 200px;
  left: 1200px;
  height: 100%;
  position: fixed;
  color: #fff;
  font-size: 14px;
  max-width: 200px;
}

#toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toc li {
  padding: 5px 10px;
}

#toc a {
  color: #6E6E6E;
  text-decoration: none;
  display: block;
}

#toc .toc-h2 {
  padding-left: 10px;
}

#toc .toc-h3 {
  padding-left: 20px;
}

#toc .toc-active {
  background: #298A08;
  a {
    color: #ffffff;
  }
}

@media screen and (max-width:639px){
  #toc {
    display: none;
  }

  body { margin-left:0; }
}
