div.comment-form {
  width: 1000px;
  margin-bottom: 72px;

  textarea {
    height: 128px;
    resize: none;
  }
  .btn {
    margin-top: 5px;
    margin-left: 5px;
  }
  .preview-btn {
    display: inline-block;
    color: #FFF;
    float: right;
  }
}
