div.comments {
  width: 1000px;

  .comment-header, .comment {
    margin: 3px 3px 0px 3px;
  }
  .comment-container {
    margin-bottom: 5px;
  }
  .editor-comment, .reply-user-comment {
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    padding: 3px;
  }
  .editor-comment {
    background: #dedede;
    border: 1px solid #dedede;
  }
  .reply-user-comment {
    background: #CCFFCC;
    border: 1px solid #CCFFCC;
  }
  .comment-header {
    display: flex;
    justify-content: space-between;
  }
  .user-name {
    margin-left: 3px;
  }
  .post-time {
    margin-left: 5px;
    font-size: 10px;
  }
  .custom-btn {
    color: #808080;
    margin-left: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  .edit-btn {
    border-right: 1px solid #808080;
    padding-right: 6px;
    margin-left: 5px;
  }
  .delete-btn {
    margin-left: 6px;
  }
  .comment {
    word-wrap: break-word;
  }
  .comment p {
    margin-bottom: 0;
  }
  .edit-comment {
    display: none;
    textarea {
      width: 992px;
      height: 128px;
    }
    .btn {
      margin-top: 5px;
      margin-left: 5px;
    }
    .preview-btn {
      float: right;
    }
  }
  .delete-confirm {
    background: #DDF0D3;
    border: 1px solid #DDF0D3;
    border-radius: 8px;
    width: 116px;
    padding: 8px;
    margin-bottom: 8px;
  }
}
