.submit-tag-design {
  display: block;
  color: #FFFFFF;
  padding: 6px 10px;
  font-size: 14px;
  background-color: #58ACFA;
}

.submit-tag-design:hover {
  color: #FFF;
  text-decoration: none;
  background: #0174DF;
}
