$root_name: '/trecon_app';

@font-face {
  font-family: 'Migu DS Regular';
  src: font-url('migu-2ds-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container_div {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1250px;
}

body {
  color: #222 !important;
  font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
  font-weight: normal !important;
  margin: 0 !important;
  margin-top: 75px !important;
}

.flash-span {
  margin-top: 20px;
  padding: 10px;
}

// float
.float-left { float: left; }
.float-right { float: right; }

.left   { text-align:left;   }
.center { text-align:center; }
.right  { text-align:right;  }

.hidden { display: note; }

// フォームの必須マーク
#form-required {
  background-color: #FA5858;
  color: #fff;
  padding: 2px;
  font-size: 12px;
}

// 検索結果件数
div.index-search-result {
  p { margin-bottom: 0 }
  p.count {
    font-family: 'Migu DS Regular', Meiryo, 'メイリオ', 'MS PGothic', arial, helvetica, sans-serif, serif;
    font-weight: bold;
  }

  .per-page-select {
    height: 30px;
    font-size: 14px;
    float: left;
    margin-right: 3px;
  }
}

// 編集画面削除ボタン
.form-delete-btn {
  display: block;
  color: #FFFFFF;
  padding: 7px 11px;
  font-size: 14px;
  background-color: #A4A4A4;
}

.form-delete-btn:hover {
  color: #FFF;
  text-decoration: none;
  background: #585858;
}

// 星
#favorite-star {
  position : relative;
  font-size: 15px;
  letter-spacing : 0px;
}

#favorite-star:after{
  position: absolute;
  display: inline-block;
  color: #FFBF00;
  white-space:nowrap;
  top: -7px;
  left: 3px;
  line-height:1em;
  overflow:hidden;
  width: 15px;
  content:"★";
}
