.form-title {
  font-size: 30px;
  margin-top: 20px;
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
}

// 下線
.under_border { background: linear-gradient(transparent 70%, #ff99ab 70%); }

//font-weight
.font-bold { font-weight: bold }

// 文字サイズ
.fs12 { font-size: 12px; }
.fs20 { font-size: 20px; }
.fs25 { font-size: 25px; }

// マージンを0にする
.non-margin { margin: 0 }


// マークダウン説明文タイトル文字
.note-description-border {
  border-bottom: solid 3px #87CEFA;
  font-weight: bold;
}
