div.header {
  width: 1440px;
  height: 60px;
  background-color: #dedede;

  div.layout-title {

    a {
      width: 180px;
      height: 40px;
      float: left;
      padding: 10px;
      background-color: black;
      text-align: center;
      display: block;
      font-size: 30px;
      font-family: 'Verdana';
      color: white;
      text-decoration: none;
      cursor: pointer
    }
  }

  .login {
    width: 130px;
    float: right;
    text-align: center;
    text-decoration: none;
    list-style: none;
    position: relative;
    font-size: 20px;
    padding-top: 15px;
    color: #222;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-weight: bold;
  }
}